@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html,
body {
    overflow-x: hidden;
}

html {
    height: 100%;
    position: static;
    width: 100%;
    max-width: 100%;
}

body {
    margin: 0%;
    max-width: 100%;
    font-family: 'Poppins';
    background: #fffcf2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.navbar {
    display: flex;
    position: relative;
    margin: 0%;
    padding: 0%;
    background-color: #fffcf2;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar a {
    color: #000;
    padding-left: 1%;
    transition: .5s;
    text-decoration: none;
    margin: 0 15px;
    position: relative;
    width: 100%;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin-right: 2%;
}

.navbar ul li {
    white-space: nowrap;
}

.navbar a:hover {
    color: rgb(239, 139, 139);
}

/* question and answer text properties */
.qna {
    margin: 0% 0% 0% 0%;
    max-width: 100%;
    padding: 0%;
}

.question-text p {
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    max-width: 100%;
}

.question-text h2,
.options h2 {
    position: relative;
    padding-left: 1%;
    margin-bottom: 0%;
    margin-top: 1%;
    margin-left: 0%;
}

.question-text ol {
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    list-style-position: inside;
    padding-left: 4%;

}

.options ul {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 3%;
    list-style-position: inside;
}

.options ul li {
    list-style-type: none;
}

.options ul li p {
    display: inline;
    padding: 0%;
    text-decoration: none;
    margin: 0%;
}

.submit {
    margin-top: 1%;
    padding-left: 3%;
    position: relative;
}

.submit #submit {
    background-color: #43596f;
    color: white;
}

.submit #submit:disabled {
    background-color: #a2a3a4;
}

#incorrect-ans-text-label,
#correct-ans-text-label {
    display: none;
    padding-left: 3%;
    margin-top: 1%;
    position: relative;
}

.answer-text,
.links {
    position: relative;
    visibility: hidden;
}

.answer-text p {
    padding-right: 3%;
    padding-left: 3%;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding-top: 0%;
}

.answer-text h2 {
    position: relative;
    padding-left: 1%;
    margin-bottom: 0%;
    margin-top: 1%;
}

.links h3 {
    position: relative;
    padding-left: 1%;
    margin-bottom: 0%;
    margin-top: 1%;
}

.links ol {
    margin-top: 0%;
    padding-left: 3%;
    list-style-position: inside;
    padding-right: 3%;
}

code {
    font-size: large;
}